
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	@include theme;
	font-family: "Goudy Bookletter 1911", sans-serif;
}

li{
	list-style: none;
}

a{
	color:lightgrey;
	text-decoration: none;
}

#main{
	@include theme(color(secondary));
	position:relative;
	text-align: center;
	margin:auto;
	min-height: 100vh;
	max-width: 1000px;
}

.navbar{
	@include theme(color(primary));
	@include media(devise(small)){
		&.active{
			height: 100vh;
		}
		&.active #{&}-list{
			@include flex(column);
			padding-top:15vh;
		}
	}
	position:fixed;
	top:0;
	right:0;
	left:0;
	z-index: 150;
	#{&}-icon{
		z-index: 300;
		cursor: pointer;
		@mixin bar($top,$width:25px){
			position:absolute;
			top:$top;
			width:$width;
			height: 2px;
			background:white;
		}
		.burger-icon{
			@include transition(0.3s);
			@include bar(10px);
			top:20px;
			right:15px;
			&::after{
				@include bar(7px);
				content:"";
			}
			&::before{
				@include bar(14px,15px);
				content:"";
			}
			&.active{
				@include transition(0.3s);
				transform: rotate(720deg);
				background:transparent;
				&::after{
					transform: translate(0px, 0px) rotate(45deg);
				}
				&::before{
					width: 25px;
					transform: translate( 0px, -7px) rotate(-45deg);
				}
			}
		}
	}
	#{&}-list{
		@include flex(row,flex-start);
		@include transition;
		visibility: hidden;
		.navbar-item{
			a{
				@include hover(color(auxiliar));
				@include transition;
			}
			font-size:120%;
			padding:20px;
		}
	}
	&.active #{&}-list{
		visibility: visible;
		@include transition;
	}
}


#img-div{
	position:relative;

	#image{
		width: 100%;
		max-width: 1000px;
	}

	&::after{
		position:absolute;
		top:0;
		left:0;
		content: "";
		width: 100%;
		height: 61vw;
		max-height: 610px;
		background:linear-gradient(to right,black,rgba(black,0.1));
		opacity: 0.7;
		z-index: 50;
	}

	.tribute-name{
		@include theme(transparent);
		@include media(devise(medium)){
			font-size:80%;
		}
		@include media(devise(small)){
			font-size:60%;
			top:20%;
		}
		@include media(devise(tiny)){
			font-size:50%;
			top:10%;
		}
		position:absolute;
		margin-left: 50%;
		transform: translateX(-50%);
		top:30%;
		z-index: 100;
		box-shadow: 0px 0px 30px black;
		padding:20px;
		#title{
			font-size:3em;
		}
		.second-name{
			color: color(auxiliar);
			font-size:5em;
		}
	}

	#img-caption{
		@include theme(white);
		@include flex;
		padding:10px;
	}

}

#tribute-info{
	@include flex(column);
	padding:5vh;
	@include media(devise(tiny)){
		font-size:90%;
	}

	#tribute-title{
		padding:10px;
		box-shadow: 0px 0px 10px black;
	}

	#tribute-list{
		padding:20px;
		#tribute-item{
			@include flex(row,flex-start);
			align-items: flex-start;
			padding:0.5em;
			span{
				font-weight: bolder;
				color:color(auxiliar);
				min-width:50px;
				margin-right:5px;
			}
			p{
				text-align: left;
			}
		}
	}
}

.blockquote{
	width: 70%;
	margin: auto;
	text-align: left;
	padding:10px;
	box-shadow: inset 0px 0px 10px black;
	.cite{
		color:darken(lightgrey, 25%);
	}
}

.link-parent{
	padding:2em;
	.link,.link:visited{
		color:color(auxiliar);
	}
}




